// General
// ------------------------------------------------------ General
.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.icon {
  display: block;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-visible {
  overflow: visible;
}
.sup {
  font-size: 75%;
  line-height: 0;
}
.block{
  display: block;
}
.inline {
  display: inline;
}

// Size
// ------------------------------------------------------ Size
.hunw {
  width: 100%;
}
.hunh {
  height: 100%;
}

// Position
// ------------------------------------------------------ Position
.fleft, .float-left {
  float: left;
}
.fright, .float-right {
  float: right;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.top {
  top: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.cenpos {
  position: relative;
  left:50%;

  .cenpos-in {
    position: relative;
    left: -50%;
  }
}

// Display - vertical align middle
// ------------------------------------------------------ Display
.valign {
  display: table;
  height: 100%;
  width: 100%;

  .valign-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

// Reset grid to auto width
// ------------------------------------------------------ Reset grid to auto width
.xsmall-auto {
  @media #{$xsmall-up}{
    width: auto;
  }
}
.small-auto {
  @media #{$small-up}{
    width: auto;
  }
}
.medium-auto {
  @media #{$medium-up}{
    width: auto;
  }
}
.large-auto {
  @media #{$large-up}{
    width: auto;
  }
}
.xlarge-auto {
  @media #{$xlarge-up}{
    width: auto;
  }
}

// Border radius
// ------------------------------------------------------ Border radius
.is-smooth {
  border-radius: 5px;
}
.is-round {
  border-radius: 500px;
}

// Media Clears
// ------------------------------------------------------ Media Clears

.xsmall-clear {
  clear: both;
}
.xsmall-clear-auto {
  clear: none;
}
@media #{$small-up}{
  .small-clear {
    clear: both;
  }
  .small-clear-auto {
    clear: none;
  }
}
@media #{$medium-up}{
  .medium-clear {
    clear: both;
  }
  .medium-clear-auto {
    clear: none;
  }
}
@media #{$large-up}{
  .large-clear {
    clear: both;
  }
  .large-clear-auto {
    clear: none;
  }
}
@media #{$xlarge-up}{
  .xlarge-clear {
    clear: both;
  }
  .xlarge-clear-auto {
    clear: none;
  }
}
@media #{$xxlarge-up}{
  .xxlarge-clear {
    clear: both;
  }
  .xxlarge-clear-auto {
    clear: none;
  }
}