/*doc
---
title: Push
name: Push
category: Utilities 
---


Last Updated: 5/28/15 module: _push.scss
*/

$push-slug: push !default;

@mixin push--classes($size) {
  .#{$push-slug}--#{$size}-clear {
    margin-top: 0;
  }

  @for $i from 0 through 10 {
    .#{$push-slug}--#{$size}-#{$i+'0'}{
      margin-top: #{($i+'0')+'px'};
    }
  }
}

@media #{$xsmall-up} {
  @include push--classes($size:xsmall);
}

@media #{$small-up} {
  @include push--classes($size:small);
}

@media #{$medium-up} {
  @include push--classes($size:medium);
}

@media #{$large-up} {
  @include push--classes($size:large);
}

@media #{$xlarge-up} {
  @include push--classes($size:xlarge);
}

@media #{$xxlarge-up} {
  @include push--classes($size:xxlarge);
}