---
title: Craft My Style
heading: 'Craft My Style'
---


<div class="hp">
  <div class="float-left large-12 text-center vr">
    <img src="http://placehold.it/300x100" class="large-16 medium-18 small-20" height="auto"/>
  </div>
  <div class="float-left large-12 medium-18 small-24 vr text-center">
    <h1 class="fc-white robo-slab">Real stylists. Thousands of stores. Your best look ever.</h1>
    <h3 class="fc-white poppins">Sign up now for early access, news and updates.</h3>
  </div>
  <div class="float-left large-12 medium-18 small-24 vr">
    <div class="float-left small-24">
      <form>
        <div class="columns large-16 medium-14 small-24">
          <input type="text" placeholder="Email Address" />
        </div>
        <div class="columns large-8 medium-10 small-24">
          <button>Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
