---
title: Craft My Style
heading: 'Craft My Style'
---


<div class="hp">
  <div class="float-left large-12 medium-18 xsmall-24 text-center vr">
    <img src="/assets/img/cms-logo-white.svg" alt="Craft My Style" title="Craft My Style" class="xlarge-10 large-14 medium-15 xsmall-20" height="auto"/>
  </div>
  <div class="float-left large-12 medium-18 xsmall-24 vr text-center">
    <h1 class="fc-egg robo-slab">Real stylists. Thousands of stores. Your best look ever.</h1>
    <h3 class="fc-grey poppins">Sign up now for early access, news and updates.</h3>
  </div>
  <div class="float-left large-12 medium-18 xsmall-24 vr">
    <div class="float-left xsmall-24">
      <form action="//craftmystyle.us15.list-manage.com/subscribe/post?u=06b9104d6a0596c5a87a8f294&amp;id=622a6a0496" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="columns large-16 medium-14 xsmall-24">
          <input type="email" placeholder="Email Address" value="" name="EMAIL" class="Email Address" id="mce-EMAIL">
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_06b9104d6a0596c5a87a8f294_622a6a0496" tabindex="-1" value=""></div>
        <div class="columns large-8 medium-10 xsmall-24">
          <button value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
